<div class="container p-5">
    <h1 class="display-6 text-center">Welcome to the Random Word Generator</h1>
    <p class="lead text-center">Random Word (attempt # <%= session[:attempts]%>)</p>
    <div class="container text-center">
        <p class="lead border w-75 border-5 mx-auto"><%= @word %></p>
        <%= link_to "Generate", generate_path, class:"btn btn-secondary btn-lg mt-4" %>
    </div>

</div>