<footer class="footer mt-auto py-3 bg-light text-black">
    <div class="container text-center">
        <%= link_to "https://github.com/patrickaviel/random-word-generator-rails",:target => "_blank" do %>
        <span class="text-muted text-center">Made by Patrick Aviel Peralta</span>
        <i class="fas fa-github"></i>
        <% end %>
    </div>
</footer>